
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

section{
    width: 100%;
    height: 100vh;
}

section header{
    display: flex;
    align-items: center;
    justify-content: space-around;
    box-shadow: 0 0 20px rgba(0,0,0,0.3);
}

section header .logo{
    font-size: 20px;
    color: black;
    text-decoration: none;
    font-weight: bold;
    margin: 15px 0;
}

section header .logo span{
    color: #f9004d;
}

section header ul{
    list-style: none;
}

section header ul li{
    display: inline-block;
    margin: 5px 5px;
    padding: 5px 20px;
}

section header ul li a{
    color: black;
    text-decoration: none;
}

section header ul li a:hover{
    color: white;
}

section header a{
    cursor: pointer;
    padding: 10px 25px;
    border: 1px solid #b36982;
    border-radius: 20px;
    transition: 0.3s;
    outline: none;
    text-decoration: none;
}

section header a:hover{
    color: white;
    background: #b36982;
}




.about{
    width: 100%;
    height: 100vh;
    padding: 35px 0;
}

.about .box{
    width: 100%;
    padding: 60px 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.about .box .card{
    width: 170px;
    height: auto;
    padding: 5px 10px;
    margin: 0 15px;
    background: gainsboro;
    border: 1px solid gainsboro;
    cursor: pointer;
    z-index: 1;
    transition: 0.3s;
}

.about .box .card:hover{
    box-shadow: 3px 5px 20px rgba(0,0,0,0.3);
    transform: scale(1.1);
    border-radius: 5px;
}

.about .box .card img{
    width: 150px;
}

.about hr{
    height: 2px;
    background: #d98ca5;
    border-radius: 5px;
    margin: 30px 110px;
}

.about .shoes h1{
    font-size: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.about .shoes p{
    text-align: center;
    margin: 35px 0;
    color: gray;
    font-size: 25px;
}

.about .shoes_box{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 15px;
}

.about .shoes_box .shoes_card{
    background: #9d9d9d;
    width: 350px;
    padding: 25px 25px;
    text-align: center;
    border-radius: 10px;
    transition: 0.3s;
}

.about .shoes_box .shoes_card:hover{
    box-shadow: 5px 5px 5px rgba(0,0,0,0.6);
}

.about .shoes .shoes_box img{
    width: 250px;
    cursor: pointer;
    transition: 0.3s;
}

.about .shoes .shoes_box img:hover{
    transform: scale(1.1);
}

.about .shoes_box .shoes_card h1{
    font-size: 35px;
    color: gainsboro;
    margin: 15px 0;
}

.about .shoes_box .shoes_card p{
    color: white;
    margin: 25px 0;
    font-size: 17px;
}

.about .shoes_box .shoes_card .btn{
    text-decoration: none;
    color: white;
    padding: 10px 30px;
    background: #b36982;
    text-align: center;
    border-radius: 20px;
    transition: 0.3s;
}

.about .gts p{
    text-align: center;
    margin: 35px 0;
    color: gray;
    font-size: 25px;
}

.about .gts_box{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 15px;
}

.about .gts_box .gts_card{
    background: #9d9d9d;
    width: 350px;
    padding: 25px 25px;
    text-align: center;
    border-radius: 10px;
    transition: 0.3s;
}

.about .gts_box .gts_card:hover{
    box-shadow: 5px 5px 5px rgba(0,0,0,0.6);
}

.about .gts_box .gts_card img{
    width: 250px;
    cursor: pointer;
    transition: 0.3s;
}

.about .gts_box .gts_card img:hover{
    transform: scale(1.1);
}

.about .gts_box .gts_card h1{
    font-size: 35px;
    color: gainsboro;
    margin: 15px 0;
}

.about .gts_box .gts_card p{
    color: white;
    margin: 25px 0;
    font-size: 17px;
}

.about .gts_box .gts_card .btn{
    text-decoration: none;
    color: white;
    padding: 10px 30px;
    background: #b36982;
    text-align: center;
    border-radius: 20px;
    transition: 0.3s;
}